main {
  width: 100%;
  height: 100%;
}

.custom-navbar {
  background-color: #765c3d !important;
}
.nav-link {
  color: #f2d2ae !important;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
}

.hero-section {
  background: url("./images/hero-banner.png"), rgba(0, 0, 0, 0.59);
  position: relative;
  background-size: cover;
  background-position: center;
  height: 816px;
}

.hero-content {
  width: 493px;
  height: 124px;
}

.hero-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.28px;
}

.hero-description {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 413px;
  height: 124px;
}

.custom-btn {
  background-color: #b59066 !important;
  padding: 12px 34px;
  border-radius: 999px;
  text-decoration: none;
}

.gallery-container {
  display: flex;
  width: 983px;
  height: 138px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
  flex-shrink: 0;
}
.gallery-title {
  color: #765c3d;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gallery-description {
  color: #765c3d;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-container {
  width: 1245px;
  height: 764px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.title {
  color: #765c3d !important;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description {
  color: #765c3d;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-container {
  width: 1680px;
  height: 1088px;
  flex-shrink: 0;
  background: #fff2e4;
  position: relative;
  margin-bottom: 20px;
}

.contact-title {
  color: #765c3d;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-description {
  color: #765c3d;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 509px;
  height: 58px;
  flex-shrink: 0;
}

.contact-image {
  width: 808px;
  height: 1088px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.59);
  position: absolute;
  left: 0;
  top: 0;
}

.contact-btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 999px !important;
  background: #b59066 !important;
  position: absolute;
  left: 500px;
  margin-top: 15px;
}

.contact-form {
  width: 1680px;
  height: 1088px;
  flex-shrink: 0;
}

form {
  position: relative;
}

footer {
  background-color: #b59066;
  color: #fff2e4;
}

