.img-float {
	width: 250px;
	height: 250px;
/*	The float property can be set either to the left or right. This positioning will depend of the content or sibling of the element you are selecting.*/
	float: right;
/*	You can use z-index property for the prioritization of the stack of your elements. You can use negative values.*/
	z-index: 1;
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
	z-index: -1;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;

/*	Static - this is the default positioning of any element.*/
/*	Relative - this is the opposite of static, wherein you can modify the top, left, bottom, and right properties to define the exact position of the element. And it also depends on the parent element.*/
/*Absolute - Instead of depending on the parent element it depends on the whole page itself. And you can still modify the exact postion by using top, left, bottom, and right properties. */
	/*position: absolute;
	left: 10px;
	bottom: 10px;


*/
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: indianred;
	padding: 10px;
}

/*To emulate a long scrolling page*/
html {
	height: 800vh;
}